@model RegisterModel

<h2>Edit User</h2>
<div id="message"></div>

<form id="editUserForm">
    <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />

    <div class="form-group">
        <label>First Name</label>
        <input type="text" id="firstName" name="firstName" class="form-control" value="@Model.firstName" required />
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" value="@Model.lastName" required />
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" id="DOB" name="DOB" class="form-control" value="@Model.DOB.ToString("yyyy-MM-dd")" required />
    </div>

    <div class="form-group">
        <label>Gender</label>
        <select id="Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="@Model.phoneNumber" required />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" id="emailAddress" name="emailAddress" class="form-control" value="@Model.emailAddress" required />
    </div>

    <div class="form-group">
        <label>Address</label>
        <input type="text" id="address" name="address" class="form-control" value="@Model.address" required />
    </div>

    <div class="form-group">
        <label>State</label>
        <input type="text" id="state" name="state" class="form-control" value="@Model.state" required />
    </div>

    <div class="form-group">
        <label>City</label>
        <input type="text" id="city" name="city" class="form-control" value="@Model.city" required />
    </div>

    <div class="form-group">
        <label>Username</label>
        <input type="text" id="userName" name="userName" class="form-control" value="@Model.userName" required />
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a href="/Register/Index" class="btn btn-secondary">Cancel</a>
</form>

<script>


    $(document).ready(function () {
        $("#editUserForm").submit(function (event) {
            event.preventDefault(); 

            var userData = {
                UserId: $("#UserId").val(),
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                DOB: $("#DOB").val(),
                Gender: $("#Gender").val(),
                phoneNumber: $("#phoneNumber").val(),
                emailAddress: $("#emailAddress").val(),
                address: $("#address").val(),
                state: $("#state").val(),
                city: $("#city").val(),
                userName: $("#userName").val()
            };

            $.ajax({
                url: "/Update", 
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(userData),
                success: function (response) {
                    $("#message").html("<p style='color:green;'>User updated successfully!</p>");
                    location.reload();
                },
                error: function (xhr) {
                    $("#message").html("<p style='color:red;'>Failed to update user. Error: " + xhr.responseText + "</p>");
                }
            });
        });
    });

</script>

